<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ site.data.var.site_title }}</title>
  <meta name="description" content="{{ site.data.var.site_description }}">
	<meta name="keywords" content="{{ site.data.var.site_keywords }}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.css">
  <link rel="stylesheet" href="main.css" type="text/css">
</head>
<body>
  <div class="wrapper">
    <div class="container-fluid">
      {% include navigation.html %}
      {{ content }}
    </div>
  </div>
</body>
</html>
